{% extends "base.html" %}

{% block title %}Flasky - Internal Server Error{% endblock %}

{% block page_content %}
<div class="container">
  <h2>Arc1</h2>
  <p>Jobs currently running on Arc1</p>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Priority</th>
        <th>Job Name</th>
        <th>User Name</th>
        <th>Job Status</th>
        <th>Date</th>
        <th>Time</th>
        <th>Queue</th>
        <th>Slot</th>
      </tr>
    </thead>
    <tbody>
      {% for line in runningJobs %}
      <tr class="success">


            <td>{{ line[0] }}</td>
            <td>{{ line[1] }}</td>
            <td>{{ line[2] }}</td>
            <td>{{ line[3] }}</td>
            <td>{{ line[4] }}</td>
            <td>{{ line[5] }}</td>
            <td>{{ line[6] }}</td>
            <td>{{ line[7] }}</td>
            <td>{{ line[8] }}</td>

      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

<div class="container">
  <h2>Arc1</h2>
  <p>Jobs currently waitting on Arc1</p>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Priority</th>
        <th>Job Name</th>
        <th>User Name</th>
        <th>Job Status</th>
        <th>Date</th>
        <th>Time</th>
        <th>Slot</th>
      </tr>
    </thead>
    <tbody>
      {% for line in waitingJobs %}
      <tr class="success">


            <td>{{ line[0] }}</td>
            <td>{{ line[1] }}</td>
            <td>{{ line[2] }}</td>
            <td>{{ line[3] }}</td>
            <td>{{ line[4] }}</td>
            <td>{{ line[5] }}</td>
            <td>{{ line[6] }}</td>
            <td>{{ line[7] }}</td>

      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

</body>
</html>


{% endblock %}
