{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<title PY Q View ></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<meta name="description"
  content=" queue viewing and job submission for the advanced research
    computing service provided for researchers students and industry at
    the university of leeds">

<meta name="keywords"
  content="high,performance,computing,hpc,arc,leeds,university,marc,herc,
  research,researchers,training,supercomputers,supercomputing,arc1,arc2,arc3,
  marc1,science,super,computer,computing,students">


<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}


{% block navbar %}

  <div class="page-header">
  <img  class="center-block img-responsive" src= {{ url_for('static', filename = "web_banner.png") }} alt="Leeds University Advanced Research Computing Service"
    title="Header" >
  </div>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">PyQView</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle"
                  data-toggle="dropdown" href="#">Queues <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li><a href="{{ url_for('main.arc1') }}">Arc 1</a></li>
                    <li><a href="{{ url_for('main.arc2') }}">Arc 2</a></li>
                    <li><a href="{{ url_for('main.polaris') }}">Polaris</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a class="dropdown-toggle"
                  data-toggle="dropdown" href="#">Personal Queues <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li><a href="#">Arc 1</a></li>
                    <li><a href="#">Arc 2</a></li>
                    <li><a href="#">Polaris</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('main.modules') }}">modules</a></li>
                <li><a href="#">Job Submission</a></li>
                <li><a href="#">Info</a></li>
                <li><a href="#">Bug Reports</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
<script src=js/jquery.min.js></script>
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
